
<!DOCTYPE html>
<html ng-app="ncnll" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ncnll.ico" type="image/x-icon" />
    <title>NCNEL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.min.css' />
    <script type="text/javascript" src="/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            /*$.post("/imageInfo/searchList",{search_eq_productItemId:"556dbc0e03f25768128f568e"}, function(data){
                for(var i=0; i<data.total; i++){
                    var htmlItem = '<div class="col-sm-6 col-md-4"><img src="http://localhost:8091/images/'+data.rows[i].name+'" style="width:400px;height:400px;"></div>';
                    $("#bodyDiv").append(htmlItem);
                }
            })*/

        });

        function gotoProductList(id){
            $("#search_eq_projectId").val(id);
            $("#formId").submit();
        }
            
    </script>
  </head>
  <body>
   

<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarHead">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#!/">NCNEL<span style="font-size:10px;">(beta)</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-controller="headCategoryCtrl" id="navbarHead">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="syfl">
                    <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;摄影分类<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/category"><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;所有分类</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="category in categories | orderBy:'categoryOrderIndex'"><a href="#!/product/category/{{category._id}}"><span class="{{category.iconName}}"></span>&nbsp;&nbsp;{{category.categoryName}}</a></li>
                    </ul>
                </li>
 
                <li id="photographers"><a href="#!/producers"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;制作者</a></li>

                <!-- <li id="photographers"><a href="/photographers"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;摄影师</a></li>
                <li id="sysb"><a href="/cameras"><span class="glyphicon glyphicon-camera"></span>&nbsp;摄影设备</a></li> -->
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入关键字...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-controller="rightNavbarCtl">
                <li id="loginHead" ng-hide="loginSuccessfully"><a style="cursor:pointer;" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span>&nbsp;登录</a></li>
                 <li class="dropdown" ng-show="loginSuccessfully">
                    <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>欢迎您<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/producer/infoManage/userId">用户信息管理</a></li>

                        <li><a href="#!/producer/changePassword/userid">密码修改</a></li>
                        <li class="divider"></li>
                        <li><a style="cursor:pointer" ng-click="logout()">退出</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="loginSuccessfully">
                    <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span>我的菜单 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/products/storaged">我的收藏</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span>友情链接 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.wwoof.org/">WWOOF</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.brinno.com.cn/">BRINNO</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
 
<ol class="breadcrumb ng-scope" style="margin:0;">
    <li><a href="/#!/">首页</a></li>
    <li class="active">生产项目</li>
</ol>


    <form id="formId" action="/demo/productList" method="post">
        <input type="hidden" name="search_eq_projectId" id="search_eq_projectId">
    </form>
    <!--Body-->
    <div class="row" style="margin:5px" id="bodyDiv">
        <% for(var i=0; i<dataList.length; i++) {%>
           <div class="col-sm-6 col-md-4"><a href="javascript:gotoProductList('<%= dataList[i]._id %>')" ><%= dataList[i].name %></a></div>
        <% } %>
    </div>

    <!--Footer-->
<nav class="navbar navbar-default"  style="margin-bottom: 0;text-align: center; ">

    <div>
        Supported by : <a href="http://glyphicons.com/" target="_blank">GLYPHICONS.COM</a>
    </div>
    <div class="container" style="margin-top:15px;">
        Copyright ©1996-2015 &nbsp;&nbsp;Charmyin Corporation &nbsp;&nbsp;
    </div>
    <div class="container" style="margin-top:15px;">
        苏ICP备14037074号-1
    </div>
</nav>



    <!-- Modal -->
  </body>
</html>
