<div class="tabbable tabs-below"  style="padding:10px 10px 10px 10px">
  <ul class="nav nav-tabs">
    <li ng-repeat="item in allTabs" ng-class="{active: selectedTab == ($index+1)}" >
      <a style="cursor:pointer;" ng-click="$parent.selectedTab = ($index+1); doSomething($index+1);">{{item.title}}</a>
    </li>

    <!-- <li ng-class="{active: selectedTab == 4}">
      <a style="cursor:pointer;" ng-click="selectedTab = 4;">收拾田地</a>
    </li> -->
  </ul>


  <div class="tab-content modalTabContent" ng-repeat="item in allTabs" ng-show="selectedTab == ($index+1)" ng-switch on="item.tabType">
    <div class="animate-switch" ng-switch-when="0" cmng-image-show></div>
    <div class="animate-switch" ng-switch-when="1" cmng-video-show></div>
    <div class="animate-switch" ng-switch-when="2" cmng-history-image style="position:relative;"></div>
  </div>

  <!-- <div class="tab-content" cmng-video-show ng-show="selectedTab == 1"></div>
  <div class="tab-content" cmng-history-image ng-show="selectedTab == 2"></div>
  <div class="tab-content" cmng-history-image ng-show="selectedTab == 3"></div>
  <div class="tab-content" cmng-image-show ng-show="selectedTab == 4"></div> -->

</div>

<div style="height:40px; width:100%; padding-top:50px;">
      <span style="float:left;color:#428bca;">浏览:<strong>{{item.browseCount}}</strong></span>

      <a href="#!/producer/products/{{item.user._id}}" style="float:right;">{{ item.user.username }} </a>

     <!--  <span><cmng-praise/></span> -->
      <cmng-store/>

</div>

 
 
