<ol class="breadcrumb" style="margin:0;">
    <li><a href="/#!/">首页</a></li>
    <li class="active">生产者</li>

</ol>
<div style=" height:130px; width:100%; position:relative;">
    <img style="height:130px; width:100%;" src="/images/producers/bible.gif" alt="Because we care!">
    <div style=" position:absolute;top:28px; right:0; height:130px; width: 100%; text-align: center; line-height: 130px; z-index:10;  font-family: monaco, 'courier new', verdana"><h3 style="font-weight: bolder;">Because we care !</h3></div>
</div>

<div cmng-producer ng-repeat="category in producersData"></div>
