<ol class="breadcrumb" style="margin:0;">
    <li><a href="#!/">首页</a></li>
    <li><a href="#!/category">摄影分类</a></li>
    <li class="active">{{indexData[0].self.categoryName}}</li>
</ol>

<div cmng-category ng-repeat="category in indexData"></div>

<!-- <ul class="pager">
    <li class="previous"><a href="#">&larr; 前一页</a></li>
    <li style="text-align:center;position:relative; top:5px;"><span class="label label-success" style="background-color:#5cb85c">当前12页/共23页(234个条目)</span></li>
    <li class="next"><a href="#">后一页 &rarr;</a></li>
</ul> -->
