<ol class="breadcrumb" style="margin:0;">
    <li><a href="/">首页</a></li>
    <li class="active">密码修改</li>
</ol>

<div style="width:70%;text-align:center;margin:10px auto 10px auto;background:#EFF8F8; padding:10px 0px 10px 10px;" ng-controller="userPasswordChangeCtrl">
  <form class="form-horizontal" role="form" >
    <div class="form-group">
      <label for="oldPassword" class="col-sm-2 control-label">当前密码:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="oldPassword" ng-model="user.oldPassword" placeholder="旧密码">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="newPassword" class="col-sm-2 control-label">新密码:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="newPassword" ng-model="user.newPassword" placeholder="输入新密码">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="newPasswordRepeat" class="col-sm-2 control-label">新密码确认:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="newPasswordRepeat" ng-model="user.newPasswordRepeat" placeholder="重新输入一遍新密码">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" ng-click="submitForm()">保存</button>
      </div>
    </div>
  </form>
</div>
