<ol class="breadcrumb" style="margin:0;">
    <li><a href="/#!/">首页</a></li>
    <li class="active">用户信息管理</li>
</ol>

<div style="width:70%;text-align:center;margin:10px auto 10px auto;background:#EFF8F8; padding:10px 0px 10px 10px;">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">用户姓名:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="userName" placeholder="用户姓名" ng-model="userInfo.username">
        <input type="hidden" ng-model="userInfo.userrole">
      </div>
      <span class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userBirthday" class="col-sm-2 control-label">生日:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="userBirthday" placeholder="生日" ng-model="userInfo.birthday">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userPhoneNumber" class="col-sm-2 control-label">手机号码:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="userPhoneNumber" placeholder="手机号码" ng-model="userInfo.phonenumber">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userPhoneNumber" class="col-sm-2 control-label">我的主页:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="userWebsite" placeholder="http://www.charmyin.com" ng-model="userInfo.website">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userAddress" class="col-sm-2 control-label">所在地址:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="userAddress" placeholder="所在地址" ng-model="userInfo.address">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userAddress" class="col-sm-2 control-label">自我描述:</label>
      <div class="col-sm-8">
        <textarea type="text" class="form-control" style="height:100px;" id="userAddress" placeholder="自我描述" ng-model="userInfo.introduction"></textarea>
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>
    <div class="form-group">
      <label for="userpwd" class="col-sm-2 control-label">用户密码:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="userpwd" placeholder="用户密码">
      </div>
      <span  class="col-sm-2" ng-hide="true">格式错误</span>
    </div>

    <div class="form-group"
      flow-init="{target: '/user/uploadUserPhoto', singleFile:true}"
      flow-files-submitted="$flow.upload()"
      flow-file-success="$file.msg = $message"
      flow-complete=" completed = true "

      flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img style="height:200px; width:300px;" ng-show="!$flow.files.length" ng-src="/user/photoid/{{userInfo.userPhotoID}}" />
          <img style="height:200px; width:300px;" ng-show="completed" flow-img="$flow.files[0]" />
          <div class="caption" style="text-align:center;margin-top:8px;padding:0px;">
            <div class="progress progress-striped" ng-class="{active: $flow.files[0].isUploading()}">
              <div class="progress-bar" role="progressbar"
                   aria-valuenow="{{$flow.files[0].progress() * 100}}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   ng-style="{width: ($flow.files[0].progress() * 100) + '%'}">
                   {{$flow.files[0].progress()*100 | number:0}}%
              </div>
            </div>
            <p style="width:70%;margin:0 auto 0 auto;">
              <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>上传本人图片</span>
              <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>修改</span>
              <span class="btn btn-danger" ng-hide="completed" ng-click="$flow.cancel();">取消</span>
            <!--   <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.upload()">提交</span> -->
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
<!--     <div>
      <video src="http://charmyinncnll.duapp.com/download/4314101-testmp4" style="width:400px;height:200px;">

      </video>
    </div> -->

  <!--   <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
      <h3>
      <a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Single Image upload</h3>
      <div class="thumbnail" ng-show="!$flow.files.length">
        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
      </div>
      <div class="thumbnail" ng-show="$flow.files.length">
        <img flow-img="$flow.files[0]" />
      </div>
      <div>
        <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Select image</span>
        <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>
        <span class="btn btn-danger" ng-show="$flow.files.length"
           ng-click="$flow.cancel()">
          Remove
        </span>
      </div>
      <p>
        Only PNG,GIF,JPG,JEPG files allowed.
      </p>
    </div> -->

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" ng-click="saveUserInfo()">保存</button>
      </div>
    </div>
  </form>
</div>
