<!--
extends layouts/default

block main
  h1 Oops something went wrong
  br
  span 500

block content
  pre= error
-->

<html>
<head>
    <title>
       浏览器不支持
    </title>
</head>
<body>
浏览器不支持，请安装以下浏览器
<%= title %>
</body>
</html>
