<img style="min-height:250px;width: 100%;" class="data-image" ng-src="http://www.charmyin.com:8080/xiancai3/00{{imgName}}.jpg" alt="">
<!-- <div class="date-image-slider" style="margin:10px 10px 10px 10px;"></div> -->
<!-- <slider floor="100" ceiling="1000" step="5" precision="2" ng-model="item.cost"></slider> -->
  <div range-slider min="sliderSetting.minValue" max="sliderSetting.maxValue" model-max="sliderSetting.valueA" on-key-up-handler="changePic" pin-handle="min" step="sliderSetting.step"></div>


  <!-- <h2><span class="col-md-2 label label-default" style="">步进值&rarr;</span></h2>
  <div class="col-md-2">
    <select ng-model="sliderSetting.step" class="form-control">
       <option value="1">1</option>
       <option value="10">10</option>
       <option value="20">20</option>
       <option value="40">40</option>
       <option value="80">80</option>
       <option value="160">160</option>
       <option value="320">320</option>
     </select>
   </div>
   <h2><span class="col-md-2 label label-default" style="">最小值&rarr;</span></h2>
   <div  class="col-md-2">
     <select ng-model="sliderSetting.minValue" class="form-control">
       <option value="1000">1000</option>
       <option value="2000">2000</option>
       <option value="3000">3000</option>
       <option value="8000">80</option>
       <option value="160">160</option>
       <option value="320">320</option>
     </select>
   </div>
   <h2><span class="col-md-2 label label-default" style="">最大值&rarr;</span></h2>
   <div  class="col-md-2">
     <select ng-model="sliderSetting.maxValue" class="form-control">
       <option value="2000">3000</option>
       <option value="4000">4000</option>
     </select>
   </div> -->

 <!--  <div class="col-md-3"></div>
 <div class="col-md-2">
   <select ng-model="jumpStep" class="form-control ">
     <option value="1">1</option>
     <option value="10">10</option>
     <option value="20">20</option>
     <option value="40">40</option>
     <option value="80">80</option>
     <option value="160">160</option>
     <option value="320">320</option>
   </select>
 </div>
 <div class="col-md-2">
   <button ng-click="backbackback()" class="btn btn-info col-md-11" type="button"> <span class="glyphicon glyphicon-backward"></span> </button>
 </div>
 <div class="col-md-2">
   <button ng-click="gogogo()" class="btn btn-info col-md-11" type="button"> <span class="glyphicon glyphicon-forward"></span> </button>
 </div>
 <div class="col-md-3"></div>
  -->
