<div>
  <div style="width:9%;display:inline-block;height:100px; background:blue; text-align: center;">&lt;</div>
  <div style="width:80%;display:inline-block;">
    <img style="min-height:210px;width:100%;" src="/images/producers/2.jpg" alt="">
  </div>
  <div style="width:9%;display:inline-block; background:blue;height:100px; text-align: center;">&gt;</div>
</div>
<div><a href="#" style="font-size:16px;font-weight: bold;">4 Cake</a><span class="label label-primary" style="float:right;">4Britain</span></div>
<p style="width:100%; text-indent: 10px;">
    A cross between apricots and plums, apriums have orange flesh like an apricot but smooth skin like a plum. Certified organic.
</p>
