<!-- <object >
    <param name="movie" value="http://share.vrs.sohu.com/my/v.swf&autoplay=false&id=70302927&skinNum=1&topBar=1&xuid=e11122962">
    <param name="allowFullScreen" value="true">
    <param name="allowscriptaccess" value="always">
    <embed style="width:100%; min-height:350px" allowfullscreen="true" allowscriptaccess="always" quality="high" src="http://share.vrs.sohu.com/my/v.swf&autoplay=false&id=70302927&skinNum=1&topBar=1&xuid=e11122962" type="application/x-shockwave-flash"/></embed>
</object> -->

  <div style="text-align:center;padding:2px;" >
    <video class="video-js vjs-default-skin videoInModalTab" controls="true" preload="none" style="width:100%; height:395px;"
        poster=""
        data-setup="{}">
      <source src="{{trustSrc(item.videoLink)}}" type='video/mp4' />
  </div>
  <!--   <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>Tracks need an ending tag thanks to IE9
  <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track>Tracks need an ending tag thanks to IE9 -->
  </video>


<div style="margin-top:4px;">
  <a href="#" style="font-size:16px;font-weight: bold;">3 Cake</a><span class="label label-primary" style="float:right;">{{item.title}}</span>
</div>
<p style="width:100%; text-indent: 10px;">
    {{item.description}}
</p>
